## LISTAS

In [1]:
lista_normal=[2,5,6,78,9]
len(lista_normal)

5

In [2]:
#Accedemosal pirmer y último elemento
print(lista_normal[0], lista_normal[-1])

2 9

In [5]:
#Cambiamos elementos
lista_normal[3]=8
print(lista_normal[3])

8

In [7]:
#Añadimos un elemento
lista_normal.append(11)
print(lista_normal)
#Añaidmos un elemento en una psoción concreta
lista_normal.insert(1,3)
print("------------------------------")
print(lista_normal)

[2, 5, 6, 8, 9, 11, 11]
------------------------------
[2, 3, 5, 6, 8, 9, 11, 11]

In [ ]:
#Eliminar un elemento
lista_normal.pop(0)
print(lista_normal)

[3, 5, 6, 8, 9, 11, 11]

In [9]:
lista_normal.remove(11)
print(lista_normal)

[3, 5, 6, 8, 9, 11]

In [10]:
#Eliminar un conjunto de datos
del lista_normal[0:4]
print(lista_normal)

[9, 11]

In [3]:
#Bucle para mostrar la lista al revés:
for i in range(len(lista_normal)-1, -1, -1):
    print(lista_normal[i])

9
78
6
5
2

In [ ]:
#Bucle para ver el tipo de datos en una lista mixta
mix = [42, True, "towel", [2,1], 'hello', 34.4, {"name": "juan"}]

for item in mix:
    print(type(item))

#Seleccionamos los diccionarios y listas
new_list = []

# Your code here
for i in my_list:
    if type(i) == dict or type(i) == list:
        new_list.append(i)

print(new_list)

In [ ]:
my_list = [4,5,734,43,45,100,4,56,23,67,23,58,45]

for i in my_list:
    if i %2 !=0: #No dividible entre 2
        print(i)

5
43
45
23
67
23
45

In [ ]:
my_list = [3344,34334,454543,342534,4563456,3445,23455,234,262,2335,43323,4356,345,4545,452,345,434,36,345,4334,5454,345,4352,23,365,345,47,63,425,6578759,768,834,754,35,32,445,453456,56,7536867,3884526,4234,35353245,53244523,566785,7547,743,4324,523472634,26665,63432,54645,32,453625,7568,5669576,754,64356,542644,35,243,371,3251,351223,13231243,734,856,56,53,234342,56,545343]


for i in my_list:
    if (i%14==0): #Divisible entre 14
        print(i)

In [ ]:
# Calcular la media

lista=[3,9,7,2,65,81,654,9]

def media(list):
    sum=0
    for i in list:
        sum+=i
    media=sum/len(list)
    return media

print(media(lista))

## Funciones

In [4]:
'''Estudiamos el caso de estimar el coste de una fiesta según el numero de asistentes.
- Primero conocemos el número de invitados
- El coste general es de 10€
- Si hay mas de 200, descuento del 10%'''

def calcular_coste(nperson):
    precio=10
    coste=precio*nperson
    if nperson>200:
        coste=coste*(1-0.1)
    print("Para", nperson, "invitados, el coste de la fiesta es", coste)

calcular_coste(4000)

Para 4000 invitados, el coste de la fiesta es 36000.0

In [ ]:

matriz

           Pesos  Rentabilidades
Apple       0.25           0.291
Google      0.50           0.251
Nvidia      0.05           0.759
Tesla       0.15           0.053
Microsoft   0.05           0.185

In [95]:
#Ampliación: Cartera de inversión
import pandas as pd
import numpy as np
'''
Calcula la rentabilidad esperada de una cartera, el activo más rentable y con mayor peso

'''

#Pesos de cada activo
matriz=[[0.25, 0.291], # Apple
        [0.5, 0.251], #Google
        [0.05,0.759], #Nvidia
        [0.15, 0.053], #Tesla
        [0.05, 0.185]] #Microsoft

matriz=pd.DataFrame(matriz, 
                    columns=["Pesos", "Rentabilidades"], 
                    index=["Apple", "Google", "Nvidia", "Tesla", "Microsoft"])

#Definimos y ejecutamos la función
def est_des_cartera(p,r):
    print("La rentabilidad esperada de la cartera es de:", round(np.sum(p*r)*100,2), "%")
    print("---------------------------------------------------------------------------")
    print("El activo con mayor rentabilidad es", r.idxmax()+", con un valor de", round(np.max(r)*100,2), "%")
    print("---------------------------------------------------------------------------")
    print("El activo con mayor peso es", p.idxmax()+", con un valor de", round(np.max(p)*100,2), "%")


est_des_cartera(matriz["Pesos"], matriz["Rentabilidades"])

La rentabilidad esperada de la cartera es de: 25.34 %
---------------------------------------------------------------------------
El activo con mayor rentabilidad es Nvidia, con un valor de 75.9 %
---------------------------------------------------------------------------
El activo con mayor peso es Google, con un valor de 50.0 %